/*Media query for files */

@media (max-width: 768px){
   .wrapper {
       display: grid;
       grid-template-areas:
        "head head"
        "sect sect"
        "main main"
        "art art"
        "foot foot";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 300px auto;
  }
  #map {
    height: 300px;
  }
  nav h1 a{
      font-size: 4vw;
  }
  .filtering{
    display: flex;
    justify-content: space-around;

  }
  #cuisines-select, #neighborhoods-select {
    background-color: #fff;
    font-weight: 100;
    margin: 15px;
    padding: 10px 10px;
    text-align: center;
    flex-direction: row;
    width: auto;
  }
}
/*Swap Restaruant Review for Logo*/
