/*Media query for files */

@media (max-width: 768px){
   .wrapper {
       display: grid;
       grid-template-areas:
        "head head"
        "sect sect"
        "main main"
        "art art"
        "foot foot";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 300px auto;
  }

  #map {
    height: 300px;
  }

  nav h1 a {
      font-size: 3vw;
  }

  /* Parent container for flex items */
  .filter-options {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .filter-options h2 {
    margin-top: 10px;
  }
  
  #cuisines-select, #neighborhoods-select, .filter-options h2 {
    flex: 1 auto;
    width: auto;
  }
}

@media (max-width: 400px){
    nav h1 a {
        white-space: nowrap;
        font-size: 3vw;
    }

}
/*Swap Restaruant Review for Logo*/
