/* CSS Document */
* {
  box-sizing: border-box;
}
html {
  height: 100%;
  margin-bottom: 50px;
}

body, html {
  margin: 0;
  padding: 0 5%;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}


Img, embed, object, video {
  max-width: 100%;
}

body, td, th, p {
  color: #666;
  font-family: "proxima-nova-soft","Helvetica",arial,sans-serif;
  font-size: 1em;
  line-height: 24px;

}

ul, li {
  font-family: "proxima-nova-soft","Helvetica",arial,sans-serif;
  font-size: 1em;
  color: #333;
}

a {
  color: #01A7C2;
  text-decoration: none;
}

a:hover, a:focus {
  color: #3397db;
  text-decoration: none;
}1

a img{
  border: none 0px #fff;
}

/* ====================== A11y Styles ====================== */
.skip-main {
  left:0;
  position:absolute;
  top:-50px;
  background:#ffffff;
  z-index:100;
}
.skip-main:focus{
  top:0;
}

h2{
    color: #011638;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -1px;
    padding-bottom: 1px;
    margin-top: 70px;
    text-align: center
}


h1, h2, h3, h4, h5, h6 {
  font-family: "proxima-nova-soft","Helvetica",arial,sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

#maincontent {
  background-color: #ffffff;
}
/* section {
  padding-top: 4em;
  text-align: center;
} */

#footer {
  height: 70px;
  background: #011638;
  color: white;
  text-align: center;
  width: 100%;
  margin-top: 11vh;
  padding-top: 29px;
  text-transform: uppercase;
  font-size: .80em;
}
footer a {
  color: #ffffff;
  font-weight: 900;
  text-decoration: underline;
}

/* ====================== CSS Grid Styles ====================== */
.wrapper{
  /* width: 98%; */
  margin: 0 auto;
  display: grid;
  height: auto;
}


/* ====================== Navigation ====================== */
nav {
  width: 100%;
  background-color: #ffffff;
  text-align:center;
  margin-top: 50px;
}
nav h1 {
  color: #666;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 10px;
  text-transform: uppercase;
  box-shadow: 0 2px 2px rgba(0,0,0,.08);
  padding-bottom: 50px;

}
nav h1 a {
  color: #666;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 0 40px 16px;
    list-style: none;
    font-size: .75em;
    margin: 0;
    text-align: center;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  padding: 5px;
  background: #fff;
  border: 1px solid #ccc;
}
/* ====================== Favorites Feature ====================== */

.fa-heart {
  font-size: 1.05em;
}

.heartHalo {
  border-radius: 30px 30px;
  padding: 14px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
  width: 49px;
  height: 48px;
  font-size: 19px;
  position: relative;
  top: -155px;
  z-index: 1000;
  background: white;
}

.loved {
  color: #01A7C2;
}
/* ====================== Submit a Review form ====================== */
.reviewBox {
  display: flex;
  flex-direction: column;
  width: 40vw;
  margin: 0 auto;
}

.reviewBoxItem {
  font-size: .9em;
  color: #000000;
  margin-top: 10px;
  border: 1px solid #01A7C2;
  border-radius: 3px 3px;
  padding: 15px;
}

textarea {
  height: 20vh;
  font-family: inherit;
  font-size: .9em;
  color: #000000;
  line-height: 1.5em;
}


.submitButton {
    display: inline-block;
    height: 40px;
    width: 85px;
    border-radius: 3px 3px;
    background-color: #01A7C2;
    color: #ffffff;
}

.submitButton:hover {
  background-color: green;
}

.cancelButton {
    display: inline-block;
    height: 40px;
    width: 85px;
    border-radius: 3px 3px;
    color: grey;
}

.cancelButton:hover {
    color:#444444;
}


/* ====================== Restaurant Filtering ====================== */
.filter-options {
  min-width: 100%;
  min-height: 100%;
  align-items: center;
  padding: -1px 40px 10px 24px;
  margin: 0;
}

.filterSelect > span {
 display: inline-block;
}

.filter-options select {
  font-family: "proxima-nova-soft","Helvetica", arial, sans-serif;
  font-size: 14px;
  height: 40px;
  letter-spacing: 0;
  margin: -9px 15px 0 16px;
  padding: 0 10px;
  color: #666;
  font-weight: 500;
  border-radius: 3px 3px;
}

.content h2 {
  color: #011638;
  padding: 28px 10px 0 10px;
  font-size: 1em;
  font-weight: 500;
}

.filterSelect {
  margin: 10px 0;
  text-align: center;
}

/* .filterSelect h2 {
  color: #E6EBE0;
} */

/* ====================== Restaurant Listing ====================== */
#restaurants-list { /* this is the flex container*/
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
}

#restaurants-list figure button a{
  
  font-weight: bold;
  font-size: .85em;
  line-height: 2.75em;
}

#restaurants-list figure {
  background-color: #fff;
  font-family: "proxima-nova-soft","Helvetica",arial,sans-serif;
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
  margin: 4% 0;
  padding-bottom: 2%;
  text-align: left;
  width: 25vw;
  height: auto;
  transition: box-shadow .3s cubic-bezier(.25,.8,.25,1);

}

#restaurants-list figure:hover{
  box-shadow: 0 0 2px 0 rgba(0,0,0,.06), 0 4px 16px 0 rgba(0,0,0,.12);
  outline: 0;
  z-index: 2;
}


#restaurants-list .restaurant-img {
  max-width: 100%;
}

#restaurant-img {
  margin: -2px 0;
}
#restaurants-list li h1 {
  color: #B01232;
  font-family: "proxima-nova-soft","Helvetica",arial,sans-serif;
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}


#restaurants-list p {
  margin: 0;
  line-height: 1.25em;
  text-align: center;
  position: relative;
  top: -65px;
  padding: 0 16px;  
}

button, input[type="submit"], input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

#restaurants-list button {
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  line-height: 0;
  font-weight: bold;
  text-align: center;
  position: relative;
  top: -200px;
  background-color: rgba(0, 0, 0, 0.6 );
  height: 1vw;
  padding: 2.2em 1em;
  font-size: 1em;
}
/* 
button::after{
  content: " \1f87a";
  font-size: 10px;
  } */

  button:hover{
    text-decoration: underline;
  }

/* figure p {
  padding: 0 20px;
} */

/* ====================== Restaurant Details ====================== */
.inside-child h1 a {
background-color: #B01232;
}

.inside #map {
  background-color: #ccc;
  height: 100vh;
}

#restaurant-address {
  font-size: 20px;
  margin: 10px 0px -42px 0;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  max-width: 100%;
}

#restaurant-container{
  
  border-top: 1px solid #fff;
  padding: 0 40px 0 40px;
  width: 100%;
}

details{
  font-size: 12px;
}
.inside #maincontent{ 
  display: flex; 
  flex-direction: row; 
  justify-content: center;
  /* border: 1px solid #ccc; */
}

.inside #map-container{
  align-content: stretch; 
  width: 75%;
  padding: 0;
}

#reviews-container {
  width: 100%;
}

#reviews-container ul li{
  padding: 30px 40px 80px;
  margin: 25px;
  align-content: stretch; 
}

ul#reviews-list li:nth-child(odd):before {
  content: url("/img/good-review.svg");
}

ul#reviews-list li:nth-child(even):before  {
  content: url("/img/bad-review.svg");
}
#reviews-container h2 {
  color: #011638;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1px;
  margin-top: 70px;
  text-align: center;
}
#reviews-list {
  margin: 0;
  padding: 0;
  display: flex; 
  flex-direction: row; 
  justify-content: center;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0 20px 20px;
  position: relative;
  /* width: 85%; */
}
#reviews-list li p {
  margin: 0 0 10px;
}
#restaurant-hours {
  border-collapse: collapse;
  width: 25vw;
  padding-bottom: 50px;
  margin: 0 auto;
}

#restaurant-hours td:first-child {text-align: center;}
#restaurant-hours td:nth-child(2n){text-align: center;}

/*Media query for files */
@media (max-width: 1000px){
  #restaurants-list figure {
   width: 40vw;
  }
  .inside-child {
    background-color: blue;
    margin: auto;
    width: 100%;
  }
  
  .inside #maincontent, .inside #reviews-list, .inside #restaurant-container, .inside #restaurant-hours {
    display: flex;
    flex-direction: column;  
    width: 100%;  
  }

  #restaurant-container {
    padding: 0;
  }
  .inside #map-container,.inside #map{
    width: 100%;
    height: 450px;
  }
  .inside #restaurant-hours td {
    width: 40vw;
    margin: 0 auto;
    font-size: 1em;
    padding-right: 5%;
  }

  #restaurant-hours tr:nth-child(odd){
  background-color: #f3f3f3;
  }
  
  .reviewBox{
    width: 75vw;
  }
  
  /* #restaurant-name {
    font-size: 1.25em;
  } */

    #restaurant-hours td:first-child { text-align: center; }
  .inside #restaurant-hours, #restaurant-address {
    margin-bottom: 30px;
  }
} 


@media (max-width: 600px){
  #restaurants-list figure {
    width: 100vw;
  }

  .filterSelect > span {
    display: block;
   }


  .filter-options select {
    margin-left: 5%;
    width: 90%;
    margin: 10px 0;
    text-align: center;
    border: 1px solid #01A7C2;
}



}


/* Small mobile views */
@media (max-width: 400px){
  body, html {
    padding: 0;
  }
 
  #restaurants-list figure {
    width: 100vw;
}
  
   table#restaurant-hours tr {
    padding: 20px 0;
    font-size: .90em;

  }
  .inside #map-container, .inside #map{
    margin-bottom: 50px;
    padding-top: 0;
  }
  nav {
    margin-top: 0;
    padding: 50px 0 0 0;
  }

  #restaurant-container { border-bottom: none;}
  
  section .name-location {
    padding: 7em 4em 0 4em;
  }

  .heartHalo {
    position: relative;
    top: -281px;
    z-index: 1000;
    background: white;
    
  }
  #footer {
    margin-bottom: 50px;
  }
}